*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

input, button{
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.App{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(46, 46, 46);
}

 form{
  display: block;
  position: relative;
} 

form .form-inside {
  position: relative;
  display: block;
  /* background-color: #fe601d5e; */
  padding: 30px;
  z-index: 2;
  border-radius: 25px;
}

form:after{
  border-radius: 25px;
  content: '';
  display: block;
  position: absolute;
  top:-5px;
  left:-5px;
  right:-5px;
  bottom:-5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right,#fe621d,#00CFC1);

} 

form .form-inside h2 {
  color: black;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

form .form-inside .form-group{
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

.form-inside .form-group label{
  display: block;
  color: black;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.form-inside .form-group:focus-within label{
  color:white;
}

form .form-inside .form-group input{
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #F8f8f8;
  border-radius: 8px;
  transition: 0.4s;
}

form .form-inside .form-group input:focus {
  box-shadow: 3px 3px 3px rgb(0, 0, 0);
}



form .form-inside button{
  width: 80px;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right,#fe621d 50%, #fe621d 50%,#00CFC1);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: white;
  font-weight: 700;
  cursor: pointer;
  margin-right: 70px;
}

form .form-inside button:hover{
  background-position: 100% 0%;
}