:root{
  font-size: 62.5%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body{
  background-image: url("./resources/pawel-czerwinski-MeecA0PPiJM-unsplash.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

input, button{
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.App{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url("./resources/pawel-czerwinski-MeecA0PPiJM-unsplash.jpg");
  background-size: cover; */
}

 form{
  display: block;
  position: relative;
} 

form .form-inside {
  position: relative;
  display: block;
  /* background-color: #fe601d5e; */
  padding: 30px;
  z-index: 2;
  border-radius: 25px;
}

form:after{
  border-radius: 25px;
  content: '';
  display: block;
  position: absolute;
  top:-5px;
  left:-5px;
  right:-5px;
  bottom:-5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right,#fe621d,#00CFC1);

} 

form .form-inside h2 {
  color: black;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

form .form-inside .form-group{
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

.form-inside .form-group label{
  display: block;
  color: black;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.form-inside .form-group:focus-within label{
  color:white;
}

form .form-inside .form-group input{
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #F8f8f8;
  border-radius: 8px;
  transition: 0.4s;
}

form .form-inside .form-group input:focus {
  box-shadow: 3px 3px 3px rgb(0, 0, 0);
}



form .form-inside button{
  width: 80px;
  display: inline-block;
  padding: 10px 10px;
  border-radius: 8px;
  background-image: linear-gradient(to right,#fe621d 50%, #fe621d 50%,#00CFC1);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: white;
  font-weight: 700;
  cursor: pointer;
  margin-right: 70px;
}

form .form-inside button:hover{
  background-position: 100% 0%;
}

button {
  width: 10vh;
  justify-self: center;
  display: inline-block;
  padding: 10px 10px;
  border-radius: 8px;
  background-image: linear-gradient(to right,#fe621d 50%, #fe621d 50%,#00CFC1);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

button:hover{
  background-position: 100% 0%;
}

img{
  justify-self: left;
  height: 10vh;
  width: 10vh;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  transition: 0.4s;
}

h1{
  width: 100vh;
  border-radius: 20px;
  background-image: linear-gradient(to top left,#fe621d,#00CFC1);
  background-size: 200%;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

h1 >*{
  justify-content: left;
}

h1:hover{
  background-position: 100% 0%;
  box-shadow: 10px 10px 10px 10px rgb(0, 0, 0);
}

